<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/about.css" />
    <link rel="stylesheet" href="/styles/general.css" />
    <title>About</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href="/">Home</a> </li>
          <li> <a class="nav-bar-item" href="/about">About</a> </li>
          <li> <a class="nav-bar-item" href="/works">Works</a> </li>
          <li> <a class="nav-bar-item" href="/gallery">Photo Gallery</a> </li>
        </ul>
      </nav>
      <div class="header">
        <article>
          Eudes Correia is a Brazilian watercolorist. <br>
          He transforms ordinary people who travel in the city, almost invisible, into the protagonists of his work. <br>
          Always counting a history with sensibility and personality. <br>
          Eudes excelled on the international stage, participated in exhibitions, and gave workshops in various countries around the world.
        </article> 
        <div class="header-img">
        <img src="/images/eudesc.jpg" alt="Watercolor">
        <h3>Painter and Watercolor Instructor</h3>
        <i>Sponsored by Winsor & Newton Global</i>
      </div>
        
    </div>
      <footer>
        <section>
          <ul class="footer-ul">
            <li>Follow Eudes on social media</li>
            <li> <a class="footer-item" target="_blank" href="https://www.facebook.com/eudescorreiawatercolor"> Facebook </a> </li>
            <li> <a class="footer-item" target="_blank" href="https://www.instagram.com/eudeswatercolor/?hl=en">Instagram </a> </li>
          </ul>
        </section> 
      </footer>
</body>
</html>