<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/gallery.css" />
    <link rel="stylesheet" href="/styles/general.css" />
    <title>Photo Gallery</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href="/">Home</a> </li>
          <li> <a class="nav-bar-item" href="/about">About</a> </li>
          <li> <a class="nav-bar-item" href="/works">Works</a> </li>
          <li> <a class="nav-bar-item" href="/gallery">Photo Gallery</a> </li>
        </ul>
      </nav>
      <section class="container" id="structure">
        <h3><img src="/images/logo.png" alt="Watercolor"></h3>
        <div>
          <article class="service-box">
            <img src="https://images.squarespace-cdn.com/content/v1/5377840fe4b0e8c9b2adf441/1571222686246-7CF956A4XS9PMCFUA6K6/Eudes+Correia+Workshop+Masterclass+-+2019" alt="Watercolor">
          </article>
          <article class="service-box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvcYrJm3maF8XVIckQaHdEE7T-IWwudFqV9A&usqp=CAU" alt="Watercolor">
          </article>
          <article class="service-box">
            <img src="https://carbon-media.accelerator.net/0000000hSTq/gugA9bJICTed1AbKlS39hU;406x540.jpeg" alt="Watercolor">
          </article> 
        </div>
      </section>
      <footer>
        <section>
          <ul class="footer-ul">
            <li>Follow Eudes on social media</li>
            <li> <a class="footer-item" target="_blank" href="https://www.facebook.com/eudescorreiawatercolor"> Facebook </a> </li>
            <li> <a class="footer-item" target="_blank" href="https://www.instagram.com/eudeswatercolor/?hl=en">Instagram </a> </li>
          </ul>
        </section> 
      </footer>
</body>
</html>