.header {
    display: flex;
    justify-content: space-around;
}
.header div img {
   border-radius: 50%;
}
.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-right: 1em;
}
article {
    font-size: 2em;
    margin: 3em;
}