
.header {
    background-image: url('/images/header.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 50px;
    position: relative;
  }
  .header h1 {
      padding-left: 2em;
  }


