body {
    background-color: red;
}
/* .nav-bar {
    background-color: rgb(21, 108, 129);
    padding: 14px 0;
  }
  .nav-bar a {
    font-size: 2em;
    text-decoration: none;
    color: white;
  }
  .nav-bar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav-bar-ul li {
    list-style-type: none;
    text-align: center;
  } */